body{
    font-family: 'inter';
}

/* NAV SECTION */
.left-nav img{
    width: 200px;
    height: 50px;
}

.right-nav a{
    color: #1C592F;
}

.left-nav{
    display: flex;
}

h3{
    padding-left: 10px;
    color: #1C592F;
}

.nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 14px 16px;
}
/* NAV SECTION */

