body{
    font-family: 'inter';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAV SECTION */

.nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 14px 16px;
    align-items: center;
    text-align: center;
    color: #1C592F;

}

.left-nav{
    display: flex;
    width: max-content;
}

h3{
    padding-left: 10px;
    
}
.right-nav a{
    color: #1C592F;
}
/* NAV SECTION */

