body{
    font-family: 'Inter';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: skyblue;
}

/* MAIN CONTAINER */
.main-container{
    width: 100vw;
    height: 100vh;
}
/* MAIN CONTAINER */

/* NAV BAR */
.nav{
    display: flex;
    background-color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    align-items: center;
    /*border: 1px solid red;*/
}
a:hover{
    color: #E2B622;
}
.left-nav{
    /*border: 1px solid green;*/
    width: max-content;
}

.right-nav{
    width: 80%;
    color: green;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 20px;
    text-decoration: none;
}
.option{
    padding-left: 50px;
    text-decoration: none;
    color: #1C592F;
    font-size: 15px;
}

.active {
    padding-left: 50px;
    text-decoration: none;
    color: #E2B622;
    font-size: 15px;

}
/* NAV BAR */

/* HERO SECTION */
.hero {
    background-image: url(../../assets/hero_2.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title {
    text-align: center;
    padding: 2%;
    font-size: 35px;
    color: #1C592F;
    margin: 0;

}

span {
    color: #E2B622;
}
/* HERO SECTION */

/* FOOTER SECTION */
.contacts{
    text-align: center;
    padding: 5px;
    padding-bottom: 10;
    background-color: white;
    color: black;
}

h3{
    text-align: left;
    padding-left: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.contact-list{
    display: flex;
    justify-content: space-around;
}

.contact-1, .contact-2, .contact-3, .contact-4, .contact-5{
    margin: 10px;
    padding: 10px;
    display: flex;
    font-size: 10px;
}
 
.pic1{
    border: 2px solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style-type: none;
    padding-left: 20px;
}

.footer-down{
    background-color: #1C592F; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding: 15px;
}
/* FOOTER SECTION */

