body{
    font-family: 'inter';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAV SECTION */

.nav{
    display: flex;
    background-color: rgba(255, 255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #1C592F;
    align-items: center;
    position: sticky;
    top: 0;
}

.left-nav{
    display: flex;
    width: max-content;
    align-items: center;
}

h4{
    padding-left: 10px;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 14px 16px;
    align-items: center;
    text-align: center;
}

.option{
    padding-left: 50px;
    text-decoration: none;
    color: #1C592F;
    font-size: 15px;
}

.active {
    padding-left: 50px;
    text-decoration: none;
    color: #E2B622;
    font-size: 15px;
}

#click{
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-decoration: none;
}

.right-nav a{
    color: #1C592F;
}
/* NAV SECTION */


/* HERO SECTION */
.card{
    display: flex;
    justify-content: space-between;
}

h1{
    color: #1C592F;
    font-size: 60px;
    
}

.content{
    background-color: #f7f7f7;
    padding: 50px;
    padding-top: 0px;
    width: 50%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.content-1{
    background-color: #f5f5f5;
    padding: 50px;
    padding-top: 0px;
    width: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon img{
    width: 500px;
    height: 500px;
}

.icon{
    background-color: #E2B622;
    padding: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    background-color: #1C592F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding: 15px;
}

