body{
    font-family: 'Inter';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

/* MAIN CONTAINER */
.main-container{
    width: 100vw;
    height: 100vh;
}
/* MAIN CONTAINER */

/* NAV BAR */
.nav{
    display: flex;
    background-color:rgba(255, 255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    align-items: center;
    position: sticky;
    top: 0;

}
a:hover{
    color: #E2B622;
}
.left-nav{
    /*border: 1px solid green;*/
    width: max-content;
}

.right-nav{
    width: 80%;
    color: green;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 20px;
    text-decoration: none;
}
.option{
    padding-left: 50px;
    text-decoration: none;
    color: #1C592F;
    font-size: 15px;
}

.active {
    padding-left: 50px;
    text-decoration: none;
    color: #E2B622;
    font-size: 15px;

}
/* NAV BAR */

/* HERO SECTION */
.hero {
    background-image: url(../../assets/hero_2.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title {
    text-align: center;
    padding: 2%;
    font-size: 35px;
    color: #1C592F;
    margin: 0;

}

span {
    color: #E2B622;
}
/* HERO SECTION */

/* FOOTER SECTION */
.contacts{
    text-align: center;
    padding: 5px;
    padding-bottom: 10;
    background-color: white;
    color: black;
}

h3{
    text-align: left;
    padding-left: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.contact-list{
    display: flex;
    justify-content: space-around;
}

.contact-1, .contact-2, .contact-3, .contact-4, .contact-5{
    margin: 10px;
    padding: 10px;
    display: flex;
    font-size: 10px;
}
 
.pic1{
    border: 2px solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style-type: none;
    padding-left: 20px;
}

.footer-down{
    background-color: #1C592F; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding: 15px;
}
/* FOOTER SECTION */



/* MOBILE STYLE */
@media only screen and (max-width: 480px) {
    html{
        width: 100vw;
        height: 100vh;
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
    .left-nav{
        padding-bottom: 10px;
    }
    .right-nav{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }
    .right-nav a{
        padding-left:10px ;
    }
    .hero{
        height: 260px;
        width:100% ;
    }
    footer{
        width:100%;
    }
    .contacts h3{
        text-align: center;
        padding: 0;
    }
    .contact-list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    footer img{
        width: 100%;
    }
    .icons{
        border: 1px solid red;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icons img{
        width: 80px;
        height: 80px;
    }
    .icons ul{
        padding: 0;
        justify-content: center;
        align-items: center;
    }
}