body{
    font-family: 'Inter';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

/* MAIN CONTAINER */
.main-container{
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
}
/* MAIN CONTAINER */

/* NAV BAR */
.nav{
    display: flex;
    background-color: #f2f2f2;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
    font-size: 17px;
    align-items: center;
    position: sticky;
    top: 0;
}
a:hover{
    color: #E2B622;
}
.right-nav{
    width: 80%;
    color: green;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 20px;
    text-decoration: none;
}
.option{
    padding-left: 50px;
    text-decoration: none;
    color: #1C592F;
    font-size: 15px;
}

.active {
    padding-left: 50px;
    text-decoration: none;
    color: #E2B622;
    font-size: 15px;

}
/* NAV BAR */

/* HERO SECTION */
.hero {
    background-image: url(../assets/5.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* HERO SECTION */

/* FOOTER SECTION */
.contacts{
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10;
    background-color: #f2f2f2;
    color: black;
}

h3{
    text-align: left;
    padding-left: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.contact-list{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-up, .contact-down{
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.contact-1, .contact-2, .contact-3, .contact-4, .contact-5{
    margin: 5px;
    margin-right: 55px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    justify-content: space-between;
}
.contact-5{
    padding-right: 0;
}
 
.icons img{
    width: 180px;
    height: 180px;
    margin: 40px;
    background-color: #ffffff;
    clip-path: polygon(
        50% 0%, 100% 25%, 
        100% 75%, 50% 100%, 
        0% 75%, 0% 25%
    );
}

ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style-type: none;
    padding-left: 20px;
}

.footer-down{
    background-color: #1C592F; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding: 15px;
}
/* FOOTER SECTION */




/* MOBILE STYLE */
@media only screen and (max-width: 600px){
    html{
        width: 100vw;
        height: 100vh;
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
    .left-nav{
        padding-bottom: 10px;
    }
    .right-nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-left: 0;
        
    }
    .right-nav b{
        width: 100%;
        display: flex;
        margin: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .right-nav a{
        padding-left: 10px;
        display: flex;
        justify-content: space-around;
    }
    .hero{
        height: 200px;
        width:100% ;
    }
    .hero h1{
        font-size: 100%;
    }
    footer{
        width:100%;
    }
    .contacts h3{
        text-align: center;
        padding: 0;
    }
    .contact-list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact-1, .contact-2, .contact-3, .contact-4, .contact-5{
        font-size: 15px;
        display: flex;
        padding-left: 28px;
    }
    .contact-up, .contact-down{
        display: flex;
        flex-direction: column;   
        gap: 10px;
    }
    footer img{
        width: 100%;
    }
    .icons{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icons img{
        width: 80px;
        height: 80px;
    }
    .icons ul{
        padding: 0;
        justify-content: center;
        align-items: center;
    }
}
/* MOBILE STYLE */

/* TABLET STYLE */
@media only screen and (min-width: 601px) and (max-width: 1024px){
 /* NAVBAR */
    .nav{
        display: flex;   
    }
    .option, .active{
        font-size: 17px;
    }
    .right-nav{
        font-size: 17px;
    }

/* HERO-SECTION */
    .hero{
        display: flex;
        margin: 0;
        width: 99.5%;
        height: 500px;
        justify-content: center;
    }
    .hero h1{
        text-align: center;
    }
    .contacts{
        background-color: #f2f2f2;
    }
    .contact-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        padding: 0;
        padding-left: 10px;
    }
    .contact-1, .contact-2, .contact-3, .contact-4, .contact-5{
        margin: 10px;
        margin-right: 45px;
        padding: 10px;
        display: flex;
        font-size: 12px;
    }

    .icons img{
        width: 100px;
        height: 100px;
    }

    .contact-up{
        display: flex;
        padding-right: 0;
        gap: 10px;
    }
    .contact-down{
        display: flex;
        gap: 10px;
    }


}
/* TABLET STYLE */